<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tubb.calendarselector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TestApplication"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.DecorDayViewActivity"/>
        <activity android:name=".custom.AnimCalendarSelectorActivity"/>
        <activity android:name=".custom.AnimDayViewActivity"/>
        <activity android:name=".custom.CustomDayViewActivity"/>
        <activity android:name=".custom.CustomMainActivity"/>
        <activity android:name=".normal.NormalMainActivity"/>
        <activity android:name=".normal.NormalActivity"/>
        <activity android:name=".normal.SingleMonthSelectorActivity"/>
        <activity android:name=".normal.CalendarSelectorActivity"/>
        <activity android:name=".normal.StateSavedActivity"/>
        <activity android:name=".normal.ViewPagerActivity"/>
        <activity android:name=".custom.AppleCalendarActivity"/>
    </application>

</manifest>
